.page-container {
    padding-top: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-content {
    width: 70vw;
    color: #2b2b2b;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-fill, .button-outline {
	border-radius:4px;
	cursor:pointer;
	padding:10px 31px;
    text-decoration:none;
    margin-bottom: 1em ;
    min-width: 8em;
    text-align: center;
    font-size: .9em;
    font-weight: 500;
}


.button-fill {
	background-color:#045B62;
	border:1px solid #ffffff;
	color:#ffffff;
}
.button-fill:hover {
    background-color:#057179;
    text-decoration:none;
	color:#ffffff;
}

.button-fill:disabled {
    background-color:#e0dfdf;
    color:#7c7c7c;
    cursor: auto;
}

.button-outline {
	background-color:#ffffff;
	border:1px solid #045B62;
	color:#045B62;
}

.button-outline a {
    color: #045B62;
}

.button-outline:hover {
    background-color:#045B62;
    color: #ffffff;
    text-decoration: none;
}

.button-outline:hover a {
    color: #ffffff;
}

.threads {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: 100%;
}

.thread {
    display: grid;
    grid-template-areas: 
    "title title rep-count"
    "info info rep-count";
    padding: 2em;
    border: 1px solid #949494;
    border-radius: 8px;
    row-gap: 1em;
}

.thread-info {
    grid-area: info;
    display: flex;
    column-gap: 0.5em;
}

.thread-reply-count {
    grid-area: rep-count;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 0.5em;
}

.thread-reply-count img{
    width: 2em;
    height: 2em;
}

.thread-reply-count span {
    font-size: 1.25em;
    font-weight: 500;
    color: #045B62;
}

.thread-reply-count:hover {
    opacity: 0.9;
}

.thread-title {
    grid-area: title;
}

.thread-title:hover {
    color: #057179;
}

.thread-author {
    font-weight: 500;
    color: #057179;
}

.thread-postdate {
    font-weight: 300;
}