.page-container {
    padding-top: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-content {
    width: 70vw;
    color: #2b2b2b;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-fill, .button-outline {
	border-radius:4px;
	cursor:pointer;
	padding:10px 31px;
    text-decoration:none;
    margin-bottom: 1em ;
    min-width: 8em;
    text-align: center;
    font-size: .9em;
    font-weight: 500;
}


.button-fill {
	background-color:#045B62;
	border:1px solid #045B62;
	color:#ffffff;
}
.button-fill:hover {
    background-color:#057179;
	border:1px solid #057179;
    text-decoration:none;
	color:#ffffff;
}

.button-fill:disabled {
    background-color:#e0dfdf;
	border:1px solid #e0dfdf;
    color:#7c7c7c;
    cursor: auto;
}

.button-outline {
	background-color:#ffffff;
	border:1px solid #045B62;
	color:#045B62;
}

.button-outline a {
    color: #045B62;
}

.button-outline:hover {
    background-color:#057179;
    color: #ffffff;
    text-decoration: none;
}

.button-outline:hover a {
    color: #ffffff;
}