{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hadirin - Login</title>
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock meta %}

{% block content %}
<div class="page-container">
	<div class="page-content">
		<h1 class="form-heading">Login</h1>
			<form class="form-box" action="{% url 'autentikasi:login' %}" method="POST">
				{% csrf_token %}
				{% if messages %}
				{% for message in messages %}
				<div class="message-box {{ message.tags }}">
					{{ message }}
				</div>
				{% endfor %}
				{% endif %}
				<div class="form-field">
					<label class="field-label">Username</label>
					<input class="form-input" type="text" name="username" placeholder="Username">
				</div>
				<div class="form-field">
					<label class="field-label">Password</label>
					<input class="form-input" type="password" name="password" placeholder="Password"></input>
				</div>
				<div class="form-buttons">
					<button class="button-fill" type="submit">Login</button>
				</div>
		</div>
	</div>
</div>

{% endblock content %}