{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hadirin - Delete Thread</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/delete_thread.css' %}">
{% endblock meta %}

{% block content %}
<div class="page-container">
	<div class="page-content">
		<form class="confirmation-box" action="{% url 'forum:delete_thread' thread.id %}" method="POST">
			{% csrf_token %}
			<div class="confirm-message">
				<div>Apakah anda yakin menghapus thread dengan judul</div>
				<div><strong>{{thread.title}}</strong>?</div>
			</div>
			<div class="form-buttons">
				<a href="{% url 'forum:detail_thread' thread.id %}"><button type="button" class="button-outline danger">Batal</button></a>
				<button class="button-fill danger" type="submit">Hapus</button>
			</div>
		</form>
	</div>
</div>
</div>

{% endblock content %}