{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hadirin -Edit Thread</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock meta %}

{% block content %}
<div class="page-container">
	<div class="page-content">
		<h1 class="form-heading">Tambah Topik baru</h1>
			<form class="form-box" action="/forum/1">
				<div class="form-field">
					<label class="field-label">Judul</label>
					<input class="form-input" type="text" placeholder="Judul Topik" value="{{thread.title}}">
				</div>
				<div class="form-field">
					<label class="field-label">Konten</label>
					<textarea class="form-input"  placeholder="Konten" value="{{thread.content}}" rows="10">{{thread.content}}</textarea>
				</div>
				<div class="form-buttons">
					<a href="{% url 'forum:home' %}"><button class="button-outline">Batal</button></a>
					<button class="button-fill" type="submit">Simpan</button>
				</div>
		</div>
	</div>
</div>

{% endblock content %}