{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hadirin - Forum</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock meta %}

{% block content %}
<div class="page-container">
    <div class="page-content">
        <div class="page-header">
            <h1>Forum</h1>
            <a class="button-fill" href="{% url 'forum:add_thread' %}">Buat Thread Baru</a>
        </div>
        <div class="threads">
            <div class="thread">
                <div class="thread-content">
                    <a href="/forum/1"><h2 class="thread-title">Lorem ipsum dolor sit amet conquistador</h2></a>
                </div>
                <div class="thread-info">
                    <span class="thread-author">Budi Budiman</span>
                    <span class="thread-postdate">November 28 2021 7:54 PM</span>
                </div>
                <a href="/forum/1" class="thread-reply-count">
                    <img src="{% static 'img/ICON-reply.svg' %}" alt="">
                    <span>4</span>
                </a>
            </div>

            <div class="thread">
                <div class="thread-content">
                    <a href="/forum/1"><h2 class="thread-title">Lorem ipsum dolor sit amet conquistador</h2></a>
                </div>
                <div class="thread-info">
                    <span class="thread-author">Susan Susanti</span>
                    <span class="thread-postdate">November 28 2021 8:01 PM</span>
                </div>
                <a href="/forum/1" class="thread-reply-count">
                    <img src="{% static 'img/ICON-reply.svg' %}" alt="">
                    <span>4</span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
