{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hadirin - Pengumuman Saya</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/pengumuman.css' %}">
{% endblock meta %}

{% block content %}
<div class="page-container">
    {% if messages %}
    {% for message in messages %}
    <div class="message-box {{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="page-content">
        <div class="page-header">
            <h1>Pengumuman Saya</h1>
            <div class="pengumuman-buttons">
                <a class="button-fill" href="{% url 'pengumuman:pengumuman' %}">Kembali</a>
                <a class="button-fill" href="{% url 'pengumuman:buat_pengumuman' %}">Buat Pengumuman</a>
            </div>
        </div>
        <div class="lst-pengumuman">

            {% for isi in pengumuman %}
            <div class="pengumuman">
                <div class="pengumuman-konten">
                    <a><h2 class="pengumuman-title"><strong>{{ isi.judul }}</strong></h2></a>
                    <a>{{ isi.isi }}</a>
                </div>
                <div class="pengumuman-footer">
                    <span class="pengumuman-author">{{ isi.user }}</span>
                    <span class="pengumuman-postdate">{{ isi.tanggal_post }}</span>
                    <div class="pengumuman-buttons">
                        <a href="{% url 'pengumuman:hapus_pengumuman' id=isi.id %}" class="action-button delete">Hapus</a>
                        <a href="{% url 'pengumuman:edit_pengumuman' id=isi.id %}" class="action-button">Edit</a>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}