/* Project-wide style */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  padding-top: 55px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #045b62;
  box-sizing: border-box;
  padding: 0.2em 15vw;
  width: 100vw;
  position: fixed;
  top: 0px;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: #fcfcfc;
}

.nav-links a:hover,
.nav-brand:hover,
.nav-profile img:hover {
  opacity: 0.8;
}

.nav-links li {
  color: white;
  text-decoration: none;
}

.nav-links img {
  width: 2em;
  height: 2em;
}

.nav-brand {
  font-size: larger;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-profile {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5em;
}

.nav-profile img {
  cursor: pointer;
}

#dropdown-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.dropdown-items.show {
  display: flex;
}

.dropdown-items {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: #fff;
  color: #045b62;
  border: 1px solid #bababa;
  border-radius: 10px;
  top: 3.3em;
  right: 0.5em;
  padding: 0.5em 2em 0.5em 1em;
}

.dropdown-items a {
  color: #045b62;
}
