{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hadirin - Perizinan</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock meta %}

{% block content %}
<div class="page-container">
	<div class="page-content">
    {% if messages %}
    {% for message in messages %}
    <div class="message-box {{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="flex justify-between items-center">
      <h1 class="form-heading mb-3">Perizinan</h1>
      <a href="/izin/add"><button class="button-fill">Ajukan Izin</button></a>
    </div>
  </div>
</div>
{% endblock content %}
