button {
    background: #045B62;
}

p {
    color: #4A4949;
}

.author {
   color: #045B62;
}

.delete {
    color: #E7658C;
}

input {
    border-radius: 0.375rem;
    border-width: 2px;
    padding: 0.25rem;
}

textarea {
    border-radius: 0.375rem;
    border-width: 2px;
    padding: 0.25rem;
}
