{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Hadirin - Tambah Role Divisi</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'role_divisi/css/index.css' %}">
{% endblock meta %}

{% block content %}
    <div class="container mx-auto flex flex-col page-content">
        <p class="font-bold text-2xl">Tambah Role Divisi</p>
        <form method="post" class="border-2 rounded-md p-6">
            {% csrf_token %}
            {{form.as_p}}
{#            <div class="flex flex-col space-y-2 mb-4">#}
{#                <p>Nama</p>#}
{#                <input class="border-2 rounded-md p-1" type="text" placeholder="Nama role divisi">#}
{#            </div>#}
{#            <div class="flex flex-col space-y-2 mb-16">#}
{#                <p>Keterangan</p>#}
{#                <textarea class="border-2 rounded-md p-1" placeholder="Keterangan"></textarea>#}
{#            </div>#}
            <div class="flex space-x-4 items-center justify-center">
                <button class="button-outline">Batal</button>
                <button class="button-fill" type="submit">Simpan</button>
            </div>
        </form>
    </div>
{% endblock content %}
